.chatbot-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.chatbot-container.show {
    transform: translateY(0);
    opacity: 1;
}

.chatbot-container.hide {
    transform: translateY(100%);
    opacity: 0;
}

.chatbot-header {
    background-color: #4639b4;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.chatbot-close-btn {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.chatbot-close-btn:hover {
    color: #ff6f61;
}

.chatbot-messages {
    padding: 15px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.chatbot-message {
    padding: 12px 18px;
    margin: 8px 0;
    border-radius: 10px;
    font-size: 14px;
    max-width: 100%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.user-message {
    background-color: #cbcbcb79;
    text-align: right;
}

.bot-message {
    background-color: #b9b9b9;
    text-align: left;
}

.chatbot-input-container {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #ffffff7a;
    border-top: 1px solid #ddd;
}

.chatbot-input {
    flex: 1;
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    border: 0px solid #ddd;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

.chatbot-input:focus {
    border-color: #4639b4;
    outline: none;
}

.chatbot-send-btn {
    padding: 0 15px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #2112ae;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.chatbot-send-btn:hover {
    background-color: #180f6b;
    transform: translateY(-2px);
}

.chatbot-send-btn:active {
    transform: scale(0.98);
}

.chatbot-toggle-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 140px;
    height: 70px;
    padding: 0;
    background-color: #2112ae;
    color: white;
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border-radius: 60px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.chatbot-toggle-btn.hide {
    display: none;
}

.chatbot-toggle-btn:hover {
    background-color: #4639b4;
    transform: scale(1.05);
}

.chatbot-toggle-btn:active {
    transform: scale(1);
}